
h1{
    color:rgb(48, 47, 47);
    background-color:rgb(101, 174, 177);
    text-align: center;
    padding: 80px;
    margin: 0;
}
nav{
    background-color:rgb(96, 93, 93);
    overflow: hidden;
    margin: 0 0 10px 0;
}
nav a{
    color: rgb(214, 220, 224);
    padding: 14px;
    display: block;
    text-align: center;
    text-decoration: none;
}
nav a.menu_left{
    float: left;
}
nav a.menu_right{
    float: right;
}
nav a:hover{
    background-color: rgb(188, 191, 194);
    color: rgb(17, 16, 16);
}
#page_container{
    display: flex;
    flex-wrap: nowrap;
}
#left_side{
    background-color: #d5d2d2;
    flex: 30%;
    padding: 20px;
}
#right_side{
    background-color: #d8d8d8;
    flex: 70%;
    padding: 20px;
}
footer{
    background-color:rgb(96, 93, 93);
    color: rgb(214, 220, 224);
    text-align: center;
}
footer a{
    color: rgb(209, 212, 213);
    display: block;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #ebe6e6;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(97, 148, 150);
  color: white;
}

#certi_container{
    display: flex;
    flex-wrap: wrap;
}
.certi_items{
    flex: 33%;
}
.certi_img{
    width: 94%;
}
.certi_title{
    text-align: center;
    margin: 10px;
    font-size: 113%;
    font-style: italic;
}
@media(max-width: 1000px){
    #page_container{
        flex-wrap: nowrap;
    }
    #left_side{
        flex: 30%;
    }
    #right_side{
        flex: 70%;
    }
    .certi_items{
        flex: 50%;
    }
}

@media(max-width: 800px){
    #page_container{
        flex-wrap: wrap;
    }
    #left_side{
        flex: 100%;
    }
    #right_side{
        flex: 100%;
    }
    .certi_items{
        flex: 50%;
    }
}

@media(max-width: 400px){
    #page_container{
        flex-wrap: wrap;
    }
    #left_side{
        flex: 100%;
    }
    #right_side{
        flex: 100%;
    }
    .certi_items{
        flex: 100%;
    }
}

